body {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    116.57deg,
    #a96f07 24.59%,
    rgba(0, 0, 0, 0.87) 114.75%
  );
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary {
  background: #0633d2d1;
  border-radius: 10px;
  color: #ffffff;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 0%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  width: 500px;
  height: 800px;
  object-fit: contain;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}

/* navbar */
.navbar {
  position: relative;
  background: #ffffff66;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.Brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important; /* 50% of your logo width */
  display: block;
}
.carousel .item img {
  max-height: 768px;
  min-width: auto;
}
/* btn buy */
.btn-buy {
  width: 294px;
}
.btn a {
  color: #a96f07;
  text-decoration: none;
}

.btn a:hover {
  color: #634307;
}

/* vision */
.vision {
  background-color: #d9d9d9;
  color: #a96f07;
}
